<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Template Layout</title>
    <div th:replace="fragments/admin-lte-styles"></div>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header::header"></div>
    <div th:replace="fragments/side-bar"></div>

    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 layout:fragment="content_title">Admin</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol layout:fragment="content_breadcrumb" class="breadcrumb float-sm-right">
                            <li><a class="breadcrumb-item" href="/">Admin</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content" layout:fragment="content"></section>

        <!--                <div sec:authorize="!isAuthenticated()">-->
        <!--                    <a th:href="@{/login}">Sign In</a>-->
        <!--                </div>-->
        <!--                <div sec:authorize="isAuthenticated()">-->
        <!--                    <div>Logged user: <span sec:authentication="name"></span></div>-->
        <!--                    <div>Roles: <span sec:authentication="principal.authorities"></span></div>-->
        <!--                    <a th:href="@{/logout}">Sign Out</a>-->
        <!--                </div>-->
    </div>
</div>
<!-- <div th:replace="fragments/footer"></div>-->
<div th:replace="fragments/admin-lte-scripts"></div>
</body>
</html>