<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<head>
    <title>Admin</title>
</head>
<body>

<h1 layout:fragment="content_title">Permissions</h1>

<ol layout:fragment="content_breadcrumb">
    <li class="breadcrumb-item"><a href="/">Admin</a></li>
    <li class="breadcrumb-item active">Permissions</li>
</ol>

<div layout:fragment="content">
    <form th:object="${permission}" method="post" th:action="@{./}">
        <div class="card">
            <div class="card-body">
                <input type="hidden" class="form-control" id="id" th:field="*{id}"/>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="xxx"
                           th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label for="note">Note</label>
                    <input type="text" class="form-control" id="note" placeholder="xxx"
                           th:field="*{note}"/>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-secondary" th:href="@{/permissions}">Back to list</a>
            </div>
        </div>

    </form>
</div>
</div>
</body>
</html>